@import "tailwindcss";

@theme {
  --font-*: initial;
  --color-lightHover: #FCF4FF;
  --color-darkHover: #2A004A;
  --color-darkTheme: #11001F;
  --color-darkNavbar: #83808c;
  --font-Outfit: Outfit, sans-serif !important;
  --font-Ovo: Ovo, serif !important;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  --font-Outfit: Outfit, sans-serif;
}


